<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home System</title>
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!--Header -->
    <header>
        <h1 class="navbar-brand">Smart Home System</h1>
    </header>
    <main>
        <div class="form-container">
            <h1>CREATE ACCOUNT</h1>
            <form id="registerForm">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" placeholder="Enter your username">
                </div>
                
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="email" id="email" placeholder="Enter your email">
                </div>
                
                <div class="form-group password-toggle-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter your password">
                    <span class="toggle-password fas fa-eye"></span>
                    <div id="password-strength" class="password-strength"></div>
                </div>
                
                <div class="form-group">
                    <label for="confirm-password">Repeat your password</label>
                    <input type="password" id="confirm-password" placeholder="Enter your password again">
                </div>
                
                <div class="terms-checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">I agree all statements in Terms of service</label>
                </div>
                
                <button type="submit" class="btn btn-primary">SIGN UP</button>
            </form>
            
            <div class="form-footer">
                Have already an account? <a href="/login">Login here</a>
            </div>
        </div>
    </main>
    <!--Footer-->
    <footer>
        <p>&copy; 2025 Smart Home System</p>
    </footer>

    <!-- Link to the register.js file -->
    <script src="static/assets/js/register.js"></script>
</body>
</html>
